@import "styles/variables";
@import "styles/mixins";

.label {
  @include colorFontSelectable($colorFontDarker4, 400);

  display: block;
  padding: 0.6rem 0.7rem;
  text-align: center;
  background-color: $colorBgActive;
  border-radius: 0.4rem;
  transition-duration: $transitionDuration;
  cursor: pointer;
}

.input {
  &:checked + .label {
    @include colorFontSelectable($colorFontDarker1, 400);
  }
}
