@import "styles/variables";
@import "styles/mixins";

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .heading {
    margin-bottom: 2rem;
    color: $colorLightest;
  }

  .message {
    @include fontLabel($colorLightest);

    margin: 0;
    text-align: center;
  }

  .link {
    margin-top: 4rem;
  }

  .button {
    margin-top: 4rem;
  }
}
